node_modules
.DS_Store
dist
dist-ssr
cache
.cache
.temp
*.local
docs/.vitepress/cache
docs/.vitepress/dist
.github
.env*
.env
!.env.example
.ref*
playwright-report
.vscode
.idea
*.log
npm-debug.log*
yarn-debug.log*
playwright-report
playwright-report/*
test-results
test-results/*
.playwright-mcp/
